{
  "workdir": "workdir",
  "devices": [
    {
      "release": "barrier_breaker",
      "version": "14.07",
      "arch": "ar71xx",
      "type": "generic",
      "repositories": [],
      "profiles": {
        "TLWDR4300:": {
          "packages": [
          ],
          "files_directory": "."
        },
        "TLWR703": {
          "packages": [
            "-ppp",
            "-pppoe",
          ],
          "files_directory": "."
        }
      }
    }
  ]
}